# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-generated

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter specific
**/build/
**/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
coverage/
generated_plugin_registrant.dart

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS/macOS related
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/.symlinks
**/ios/Pods/
**/ios/Podfile.lock
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/Flutter.xcconfig

# Windows related
**/windows/flutter/generated_plugin_registrant.*

# Web related
**/web/.dart_tool/
